@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: "Noto Sans KR", sans-serif !important;
}

#container {
  position: absolute;
  z-index: 2;
}
.svg-source {
  position: absolute;
  z-index: 1;

  left: 0px;
}
#bubble-container {
  position: absolute;
  z-index: 2;
  bottom: 10vh;
  left: 0vw;
  width: 770px;

  height: 620px;
}
#heatmap-container {
  position: absolute;
  z-index: 2;
  left: 100px;
  width: 590px;
  height: 520px;
  top: 300px;
}
body {
  background-color: black;
}

#table-container {
  position: absolute;
  z-index: 3;
  position: absolute;
  z-index: 3;
  left: 50px;
  top: 845px;
}
.current-table {
  width: 390px;
  text-align: right;
  border-spacing: 0;
}
.current-table td {
  padding: 10px;
  font-size: 14px;
  color: #f75467;
  border-bottom: 1px solid #ddd;
}
.current-table tr td:first-child {
  text-align: left;
  color: #333;
}
.current-table tr td.th {
  font-weight: bold;
  border-bottom: 3px solid #666;
  color: #333 !important;
}
.table-header {
  font-size: 20px;
  font-weight: bold;
}
#table-sparkline {
  position: absolute;
  z-index: 3;
  top: 857px;
  left: 116px;
  width: 1270px;
  height: 300px;
}
#table-sparkline th {
  font-weight: bold;
  text-align: left;
}
#table-sparkline td,
#table-sparkline th {
  padding: 5px;
  border-bottom: 1px solid silver;
  height: 20px;
}

#table-sparkline thead th {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.crypto {
  position: absolute;
  width: 450px;
  left: 580px;
  top: 1800px;
  z-index: 1;
  border-radius: 20px;
}

.btn-container {
  position: absolute;
  width: 530px;
  left: 580px;
  top: 1320px;
  z-index: 3;
}

.range-btn {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid red;
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

.number-container {
  position: absolute;
  width: 530px;
  left: 689px;
  top: 140px;
  z-index: 3;
}

.number-container .first .total-number {
  position: absolute;
  color: white;
  left: 30px;
  font-size: 33px;
  font-weight: bold;
}

.number-container .second .total-number {
  position: absolute;
  color: white;
  left: 264px;
  font-size: 33px;
  font-weight: bold;
  top: 0;
}

.number-container .first .sub-number-total {
  position: absolute;
  color: white;
  left: 30px;
  font-size: 18px;
  /* font-weight: bold; */
  width: 200px;
  text-align: center;
  top: 30px;
  left: -9px;
}

.number-container .second .sub-number-total {
  position: absolute;
  color: white;
  left: 30px;
  font-size: 18px;
  /* font-weight: bold; */
  width: 200px;
  text-align: center;
  top: 30px;
  left: 208px;
}

.saveBtn {
  position: absolute;
  left: 1720px;
  top: 20px;
  background-color: white;
  appearance: none;
  font-size: 30px;
}

.bithumb {
  position: absolute;
  top: -690px;
  left: 0px;
  z-index: 10;
  width: 1020px;
  height: 640px;
}

.bithumb-container {
  width: 1030px;
  height: 450px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 1280px;
  left: 30px;
}

.img-eth {
  position: absolute;
  z-index: 10;
  width: 489px;
  left: 510px;
  top: 860px;
  border-radius: 15px;
}

.g360 {
  position: absolute;
  z-index: 9;
  left: 470px;
  top: 300px;
  width: 1020px;
  height: 520px;
}

.gtable {
  width: 1030px;
  height: 450px;
  overflow: hidden;
  position: absolute;
  z-index: 9;
  top: 1280px;
  left: 30px;
}
